﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
        <title>Registered Successfully</title>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="~/Content/css/reset.css">
<link rel="stylesheet" type="text/css" href="~/Content/css/structure.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>
.boxBody a
{
    color: #09F;
}
.boxBody a:hover
{
    color: red;
}
</style>
</head>
<body>
   <h1 align="center" style="background-color:#09F;">Global Hotel Solution</h1>
<!--<br>
<br>
<h6 style="font-size:100px;">GHS</h6> -->
<div class="boxBody" style="width:40%; margin-left:29%; margin-top:16%;">
<br /><h1 style=" font-size:xx-large;margin-left:100px;">Registered Sucessfully!</h1><br />
<p style="margin-left: 8%;">You have been registered sucessfully. Please check your mail Click <a href="/Home">here</a> to login </p>
</div>

<footer id="main" style="margin-top:20%">
  <a href="#">Global Hotel Solution &copy; 2012</a> | <a href="#">by AIT Services</a>
</footer>
</body>
</html>
