﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>Index</title>
</head>
<body>
    <div>
        <% using (Html.BeginForm("Pay", "Home"))
            {%>
        <input type='image' name='submit'
      src='https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif' />
        <% } %>
    </div>
</body>
</html>
